apiVersion: sonataflow.org/v1alpha08
kind: SonataFlow
metadata:
  annotations:
    sonataflow.org/description: ""
    sonataflow.org/expressionLang: jq
    sonataflow.org/profile: gitops
    sonataflow.org/version: "1.0"
  creationTimestamp: null
  labels:
    app: master
    app.kubernetes.io/component: serverless-workflow
    app.kubernetes.io/managed-by: sonataflow-operator
    app.kubernetes.io/name: master
    sonataflow.org/workflow-app: master
    sonataflow.org/workflow-namespace: subflows-example
  name: master
  namespace: subflows-example
spec:
  podTemplate:
    container:
      image: quay.io/wmedvede/serverless-workflow-operator-subflows:1.0-1.36.0-00
  flow:
    start:
      stateName: doCalculations
    states:
    - data:
        paramB1: Param required by workflowB produced by an internal master workflow
          calculation
      name: doCalculations
      transition:
        nextState: callWorkers
      type: inject
    - branches:
      - actions:
        - actionDataFilter:
            useResults: true
          name: callA
          subFlowRef:
            invoke: sync
            onParentComplete: terminate
            workflowId: workflowA
        name: branchA
      - actions:
        - actionDataFilter:
            useResults: true
          name: callB
          subFlowRef:
            invoke: sync
            onParentComplete: terminate
            workflowId: workflowB
        name: branchB
      - actions:
        - actionDataFilter:
            results: .valueC2
            toStateData: .filteredValueC2
            useResults: true
          name: callC
          subFlowRef:
            invoke: sync
            onParentComplete: terminate
            workflowId: workflowC
        name: branchC
      completionType: allOf
      end:
        terminate: true
      name: callWorkers
      numCompleted: 0
      type: parallel


